body{
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: whitesmoke;
    margin: 0;
}

/* main styles */

.main{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

/* main content styles */

.main-content{
    background-color: white;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}

/* about styles */

.about{
    margin-bottom: 40px;
}

.about-position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about-name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 15px;
}

.about-description{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/* sidebar styles */

.sidebar{
    background-color: #FF8593;
    padding-top: 40px;
    width: 370px;
    color: #FFFFFF;
}

.projects{
    margin-bottom: 50px;
}

.title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.project-list{
    padding: 0px;
    margin-left: 15px;
}

.project-item, .project-bracket{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project-text, .project-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project-link{
    margin-left: 10px;
}

.work{
    
}

.position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.company{
    color:#FFBAAD;
}

.period{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work-list{
    padding: 0px;
    margin-left: 15px;
}

.work-list-item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.university{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFBAAD;
    margin-bottom: 10px;
}

.faculty{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.photo{
    width: 370px;
    margin-bottom: 50px;
}

.sidebar-title{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contacts{
    margin-left: 40px;
    margin-bottom: 45px;
}

.tech-skills, .soft-skills, .languages{
    margin-left: 40px;
    margin-bottom: 45px;
}

.tech-skills-list, .soft-skills-list, .language-list{
    padding: 0;
    margin-left: 17px;
}

.cont-tag{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-left: 5px;
}

.cont-link{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
color: #FFFFFF;
opacity: 0.5;
}

.tech-skills-item, .soft-skills-item, .language-item{
    color: khaki;
}

.soft-skills-item{
    color: khaki;
}

.tech-skills-text, .soft-skills-text, .language-text{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
